<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Car</title>
</head>
<body>
    {{> header}}
    <form action="" method="post">
        <p>Edit Car for {{user.name}} {{user.surname}}</p>
        <input type="text" name="make" placeholder={{car.make}}><br>
        <input type="text" name="model" placeholder={{car.model}}><br>
        <input type="text" name="VIN" placeholder={{car.VIN}}><br>
        <input type="text" name="govID" placeholder={{car.govID}}><br>
        <input type="text" name="color" placeholder={{car.color}}><br>
        <input type="text" name="lastOwner" placeholder={{car.lastOwner}}><br>
        <input type="text" name="newOwner" placeholder="New Owner"><br>
        
        <button type="submit">Edit Car</button>
    </form>
</body>
</html>