<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car</title>
    <style>
        a {
            text-decoration: none;
            color: black;
            border: 1px solid grey;
            background-color: rgb(230, 218, 218);
            padding: 3px 15px;
        }
        input {
            padding: 3px;
            border: 2px solid #aaa;
            border-radius: 4px;
            margin-bottom: 3px;
        }
        input:focus {
            box-shadow: 0 0 5px 0 dodgerblue;
        }
        button {
            background-color: rgb(68, 68, 228);
            border: 0;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }
    </style>
</head>

<body>
    {{> header}}
    <div class="border">
        <p>Make: {{make}}</p>
        <p>Model: {{model}}</p>
        <p>VIN: {{VIN}}</p>
        <p>Government ID: {{govID}}</p>
        <p>Color: {{color}}</p>
        <p>Owner: {{owner.name}} {{owner.surname}}</p>
        {{#if lastOwner}}
        <p>Last Owner: {{lastOwner.name}} {{lastOwner.surname}}</p>
        {{/if}}
        <a href="/users/{{owner.id}}/cars/{{VIN}}/edit">Edit car</a> |
        <a href="/cars/{{VIN}}/delete">Delete car</a><br>
    </div>

</body>

</html>