<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>
    <style>
        a {
            text-decoration: none;
            color: black;
            border: 1px solid grey;
            background-color: rgb(230, 218, 218);
            padding: 3px 15px;
        }
        input {
            padding: 3px;
            border: 2px solid #aaa;
            border-radius: 4px;
            margin-bottom: 3px;
        }
        input:focus {
            box-shadow: 0 0 5px 0 dodgerblue;
        }
        input[type="submit"]{
            cursor: pointer;
        }
        button {
            background-color: rgb(68, 68, 228);
            border: 0;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }
        .block {
            padding-bottom: 10px;
            background-color: seagreen;
            display: inline-block;
            text-align: center;
            color: rgb(236, 228, 228);
            width: 230px;
        }
    </style>
</head>

<body>
    {{> header}}
    <h1>{{name}} {{surname}}</h1>
    <p>Name: {{name}}</p>
    <p>Surname: {{surname}}</p>
    <p>id: {{id}}</p>
    <p>Father's name: {{father}}</p>
    <p>Birth Date: {{birthDate}}</p>

    {{#if cars.length}}
        <p>This person has {{cars.length}} Cars</p>
        {{#each cars}}
            <div class="block">
                <p>Make: {{this.make}} </p>
                <p>Model: {{this.model}} </p>
                <p>Color: {{this.color}} </p>
                <p>VIN: {{this.VIN}} </p>
                <p>Government ID: {{this.govID}} </p>
                <a href="/users/{{this.owner.id}}/cars/{{this.VIN}}/edit">Edit Car</a>
                <a href="/cars/{{this.VIN}}/delete">Delete Car</a>
            </div>
        {{/each}}
    {{/if}}
    <p><a href="/users/{{id}}/cars/add">Add Cars</a></p>
    <p><a href="/users/{{id}}/edit">Edit User</a></p>
    <form action="" method="post">
        <input type="submit" value="Delete User" name="delete">
    </form>
</body>

</html>